.floating-lines-container {
  width: calc(100% - 6px); /* deja espacio para el scrollbar */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none; /* no bloquea clicks ni scrollbar */
}

.floating-lines-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: all; 
}