.navbar{
    background: linear-gradient(to right, #120228, #4b0082);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content:space-around;
}

.navbar .logo{
    width: 100px;
}

.searchbox{
    border-radius: 16px;
    background-color:rgba(130, 12, 148, 0.522);
    width: 500px;
    height: 35px;
    text-align: center;
    margin-right: 15px;
}

.searchbox:hover{
  background-color:rgba(176, 64, 193, 0.522);
}

.middle{
  display: flex;
}

.nota{
  align-content: center;
  background-color:rgba(47, 120, 67, 0.44);
  border-radius: 50px;
}

.nota:hover{
  box-shadow: 0 0 10px #ffffff;
}

.search-bar{
  display: flex;
}

.usuario{
  background-image:url(https://cdn-icons-png.flaticon.com/512/10813/10813372.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.usuario:hover{
  box-shadow: 0 0 10px #ffffff;
}