.navbar{
    background-color: rgb(16, 33, 28);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content:space-around;
}

.navbar .logo{
    width: 100px;
}

.searchbox{
    border-radius: 16px;
    background-color:rgba(130, 12, 148, 0.522);
    width: 500px;
    height: 35px;
    text-align: center;
    margin-right: 15px;
}

.middle{
  display: flex;
}

.nota{
  align-content: center;
  background-color:rgba(47, 120, 67, 0.44);
  border-radius: 50px;
}

.search-bar{
  display: flex;
}