@import 'tailwindcss';



#app {
    display: grid;
    height: 100vh;
    background-color: #010101;
    color: white;
    overflow: hidden;
}

#app2 {
    color: white;
}

main {
    grid-area: main;
    overflow-y: auto;
    padding: 1rem;
}

/* mobile sin el aside para el menu hamburguesa */
@media (max-width: 767px) {
    #app {
        grid-template-areas: 
        "navbar"
        "main"
        "player";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 150px;
    }
    
    aside {
        display: none !important;
    }
}

/* desktop con aside */
@media (min-width: 768px) {
    #app {
        grid-template-areas: 
        "navbar navbar navbar"
        "aside main main"
        "player player player";
        grid-template-columns: 400px 1fr 1fr;
        grid-template-rows: 100px 1fr 150px;
    }
    
    aside {
        grid-area: aside;
    }
}