.song-card {
    width: 180px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.song-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}







@media (max-width: 1024px) {
    .song-card {
        width: 150px;
    }

    .song-image {
        height: 150px;
    }
}



@media (max-width: 768px) {
    .song-card {
        width: 130px;
        padding: 0.6rem;
    }

    .song-image {
        height: 130px;
    }

    .song-card h4 {
        font-size: 0.9rem;
    }

    .song-card p {
        font-size: 0.75rem;
    }
}



@media (max-width: 480px) {
    .song-card {
        width: 110px;
        padding: 0.5rem;
    }

    .song-image {
        height: 110px;
    }

    .song-card h4 {
        font-size: 0.8rem;
    }

    .song-card p {
        font-size: 0.7rem;
    }
}